<div>
  <!-- The Modal -->
  <div id="myModal " class="modal" [class.show]="deleteModalIsShown() == true">

    <!-- Modal content -->
    <div class="modal-content mx-auto bg-primary">
      <div class="modal-header">
        <span (click)="closeModal()" class="close">&times;</span>
      </div>
      <div class="modal-body p-4" >
        <p> Delete {{ deleteContact | uppercase}} ?</p>
        
      </div>
      <div class="modal-footer bg-primary">
        <button (click)="okayToDeleteContact()" class="btn btn-danger">Yes</button>
        <button (click)="doNotDeleteContact()" class="btn btn-success">No</button>
      </div>
    </div>

  </div>

</div>
